@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face{
  font-family: 'Integral';
  src: url('/fonts/Fontspring-DEMO-integralcf-bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}